<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1Xx6tV45IkXPndZmOUePar8qTQkmM0Ew</string>
	<key>GCM_SENDER_ID</key>
	<string>1025976914562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>bandingin-mobil</string>
	<key>STORAGE_BUCKET</key>
	<string>bandingin-mobil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025976914562:ios:0c30c0c9cd6df52165da9b</string>
	<key>DATABASE_URL</key>
	<string>https://bandingin-mobil-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>